PORT=5000
NODE_ENV=production
MONGODB_URI=mongodb+srv://rahulbhardwaz2k1_db_user:KxB0fKm9w93nIH4r@cluster0.50akhzt.mongodb.net/rbs-solar?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=7f3c9d2a8b4e1f6c0d9a7b5e3
ADMIN_NAME=Admin RBS Solar
ADMIN_EMAIL=rahulmishra9291@gmail.com
ADMIN_PASSWORD=Admin@rbs123
ADMIN_PHONE=9305332019

FB_APP_ID=4643571765870832
FB_APP_SECRET=4aa60f940a81775a532d67bc631cd362
FB_WEBHOOK_VERIFY_TOKEN=rbssolar_secure_token_123
